<ion-view view-title="PUT Requests">
  <ion-content>

    <div class="card">
      <div class="item item-divider">
        <h3>Put Request</h3>
      </div>
      <div class="item item-text-wrap">

        <div class="list">

          <label class="item item-input item-select ">
            <div class="input-label">
              Campo de busqueda
            </div>
            <select ng-init="selected = 0" ng-model="selected" ng-change="update(this.selected)" >
              <option ng-repeat="option in list" value="{{option.value}}">{{option.option}}</option>
            </select>
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">{{search.label}}</span>
            <input type="text" ng-model="search.value" placeholder="{{search.placeholder}}">
          </label>
        </div>
        <label class="item">
          <button class="button button-block button-positive" ng-click="getUser()">Buscar</button>
        </label>
        <label>
          <span ng-model="uCount" ng-if="uCount > 0">Usuarios Encontrados:</span>
          <div ng-repeat="user in users">
            <div class="list">
              <a class="item item-avatar" ng-click="editThis({{user}})">
                <img src="http://fast1.onesite.com/capcom-unity.com/user/jgonzo/bbfc7cb6534f3a605917742eca8704c4.png?v=57600">
                <div style="float:left; margin-right:5px;">
                  <h2>{{user.username}}</h2>
                  <p>{{user.email}}</p>
                </div>
                <button class="button icon ion-compose"></button>
              </a>
            </div>
          </div>
        </label>

      </div>
    </div>
  </ion-content>
</ion-view>
