<ion-view view-title="PUT Requests">
  <ion-content>

    <div class="card">
      <div class="item item-divider">
        <h3>Put User</h3>
      </div>
      <div class="item item-text-wrap">

        <div class="list">

        <div class="card" >
          <div class="list">
            <label class="item item-input item-stacked-label">
              <span class="input-label">Username</span>
              <input type="text" ng-model="user.username" placeholder="John" value="{{user.username}}">
            </label>
            <label class="item item-input item-stacked-label">
              <span class="input-label">Password</span>
              <input type="password" ng-model="user.password" placeholder="Password"
              value="{{user.password}}">
            </label>
            <label class="item item-input item-stacked-label">
              <span class="input-label">Email</span>
              <input type="text" ng-model="user.email" placeholder="john@doe.com"
              value="{{user.email}}">
            </label>
          </div>

      </div>
      <button class="button button-block button-positive" ng-click="update()">Actualizar</button>

      </div>
    </div>
  </ion-content>
</ion-view>
